// Place all the styles related to the Slots controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

a:link, a:visited {
    background-color: white;
    border: 1px solid green;
    color: black;
    padding: 1px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
  a:hover, a:active {
    background-color: green;
    color: white;
  }

  input[type=submit] {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 1.5px 20px;
    margin: 4px 2px;
    cursor: pointer;
  }

  input[type=submit]:hover, input[type=submit]:active {
    background-color: green;
    color: white;
  }

  html{
    margin: 100px 100px;
    padding: 100px 200px;
    border: 20px;
    border: 1px solid green;
    
  }

  

  